@model yyuna.Models.Supplier
@{
    ViewData["Title"] = "Marka Sil - ";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- BEGIN THEME STYLES -->
<link href="~1/admİn_panel_template/theme/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
<link href="~/admİn_panel_template/theme/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
<link href="~/admİn_panel_template/theme/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
<link id="style_color" href="~/admİn_panel_template/theme/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" />
<link href="~/admİn_panel_template/theme/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico" />

<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="col-md-12">
    <div class="white_shd full margin_bottom_30">
        <div>
            <div class="mt-3">
                <h2></h2>
            </div>
            <div class="table_section padding_infor_info">

                <div class="table-responsive-sm">
                    <div class="heading1 margin_0 ">
                        <h2 class="mb-3">Marka Listesi</h2>
                    </div>
                    <table class="table ">
                        <thead>
                        <th style="font-weight:bold">@Html.DisplayNameFor(x => x.SupplierID)</th>
                        <th style="font-weight:bold">@Html.DisplayNameFor(x => x.BrandName)</th>
                        <th style="font-weight:bold">@Html.DisplayNameFor(x => x.Active)</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.SupplierID)</td>
                                <td>@Html.DisplayFor(model => model.BrandName)</th>
                                <td>@Html.DisplayFor(model => model.Active)</th>
                            </tr>
                        </tbody>
                    </table>

                    <form asp-action="SupplierDelete" method="post">
                        <input type="hidden" asp-for=SupplierID />
                        <p style="margin-top:60px">
                     <input type="submit" value="Sil" class="btn w-100" style="background-color:#191C24;color:#FFFFFF" onclick="return confirm('Silinsin mi?')" />
                        </p>
                        <p>
                     <a asp-action="SupplierIndex" asp-controller="Admin" class="btn w-100" style="background-color:#191C24;color:#FFFFFF"> Marka Listesi</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>

    </div>

    </div>